canvas#activityChart height="300" width="1250"
  javascript:
    var ctx = document.getElementById("activityChart").getContext("2d");
    var data = {
      labels: #{@labels},
      datasets: [
        {
          label: "My First dataset",
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          data: #{@data}
        }
      ]
    };
    var myLineChart = new Chart(ctx).Bar(data, {
      animation: false,
      scaleOverride: true,
      scaleSteps: 10,
      scaleStepWidth: 1,
      bezierCurve: false
    });
